<nav class="navbar navbar-dark bg-yellow">
  <%= link_to root_path, class: 'd-flex align-items-center navbar-brand text-dark' do%>
    <span class='logo-navbar mx-2'><i class="fas fa-tools"></i></span>
    <h1 class="my-1 font-weight-bolder">NO PROBLEM</h1>
  <% end %>
  <div class="d-flex justify-content-between align-items-center">
    <%= signed_in? %>
  </div>
</nav>