<div class='container'>
  <div class="col-12 align-content-center pt-4">
    <div style="text-align: center">
      <h3>imagen mamalona</h3>
    </div>
  </div>

  <div class=" justify-content-center " style=" text-align: center">
    <h5 class="card-title"><%= @user.name %></h5>
    <p class="card-text"><small class="text-muted"><%= "@#{@user.username}" %></small></p>
  </div>
</div>