@import "bootstrap";
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';

html {
  font-size: 62.5%; /* 10px -> 1rem */
}

.home-menu {
  height: 100vh;
}

.left-side {
  height: 100vh;
}